body{
	 background-color: #eee;
	 background-position: center;
    background-size: cover;
    
      
	
}
.formulaire{
	padding-top: 75px;
    width: 95%;
	margin: 0 auto;
	text-align: right;
	border-radius: 10px;
	
}
.form-group{
	background-color: #f8fcfd !important;
}
h1,h2,h3,h4,h5,h6{
	font-weight: bold;
}
img{
	max-width: 100%;
	height: auto;
}
.profile-picture{
	text-align: center;
	margin: 0 auto;
	float: none;
}
section .heading{
	text-align: center;
	padding-bottom:40px;
	
}
#about{
}
#about .heading h1{
	font-size: 32px
	color:#000040;
	text-transform: uppercase;
}

.navbar{  
    font-size:16px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: bold;     
}
.navbar  .navbar-nav  
{
	display: inline-block;
	float: none;
	vertical-aline: top;
} 
.navbar  .navbar-collapse  
{
	text-align: center;
} 



.icon-bar{
	background: #fff;
}
#posts{
	white
}


.separateur{
   width: 80%;
	margin: 0 auto;
	text-align: centre;
	padding: 30px;
	margin-bottom: 20px;    
}
.white-divider{
	width: 80%;
    height: 2px;
    background: #fff;
    margin: 0 auto;	
}
.posts-bloc{
	width: 80%;
	margin: 0 auto;
	text-align: centre;
	padding: 30px;
	background: #f8fcfd;
	border-radius: 10px;
	margin-bottom: 20px;	
}

.posts-bloc h3{
	 color: #000080;	
}

footer{
   background: #333; 
   padding: 20px 0 40px;
}
footer .glyphicon{
    font-size: 15px;
    margin: 20px;
    color: #80ff00;
    height: 30px;
}

footer .glyphicon:hover{
   font-size: 20px;
}
footer h5{
    color: azure;
    font-weight: normal;
}


